<div class="buttons">
  <button type="button" (click)="saveBoard()" class="save-board">
    Save Board
  </button>
  <button type="button" (click)="loadBoards()" class="load-board">
    Load Board
  </button>
</div>
<app-dialog dialog-id="load" [classes]="{ load: true }" title="Load Board">
  <ul>
    <li *ngFor="let board of savedBoards" class="saved-board">
      <button type="button" (click)="loadBoard(board)">
        <img [src]="board.img" alt="Saved Board from {new Intl.DateTimeFormat([], { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit' }).format(board.dateSaved)}" />
      </button>
    </li>
  </ul>
</app-dialog>
