
:host {
  header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    h1 {
      font-size: medium;
      margin: 0;
    }
    .close {
      position: unset;
      height: 27px;
      width: 27px;
      flex: 0 1 27px;
    }
  }
}
