<h2>Works</h2>
<p>Various works in various states; mostly on my playground site, <a href="https://heretic-monkey.link">https://heretic-monkey.link/</a></p>
<ul>
  <li>Mynsweepr
    <p>An implementation of a mine sweeping game in JavaScript. Done in various frameworks, and in plain JavaScript.</p>
    <ul>
      <li><a href="https://heretic-monkey.link/minesweeper.html">The first, in plain old JavaScript, HTML, and CSS</a></li>
      <li><a href="https://heretic-monkey.link/mynsweepr-angular/dist/mynsweepr-angular/index.html">The second, using techniques from the Angular framework</a></li>
      <li><a href="https://heretic-monkey.link/mynsweepr-tres/build/index.html">The third, using techniques from the React library, along with Redux</a></li>
      <li><a href="https://heretic-monkey.link/mynsweepr-hooks/build/index.html">The fourth, using techniques from the React library, using hooks and functional components, along with Redux</a></li>
      <li><a href="https://heretic-monkey.link/mynsweepr-vue/dist/index.html">A work in progress, using techniques from the Vue library</a></li>
      <li><a href="/mynsweepr">A different take on Angular, local to heretic-monkey.com.</a></li>
    </ul>
  </li>
  <li><a href="https://heretic-monkey.link/material-test/index.html">A proof of concept of building a site using </a><a href="https://material.io/web">Google's Material Web Components</a><a href="https://heretic-monkey.link/material-test/index.html"> without a framework or library (beyond Material)</a></li>
  <li><a href="https://heretic-monkey.link/hm-datetimepicker/hm-datepicker-component-poc.html">A proof of concept of Web Component technologies to create a datepicker</a>; trying to make it WCAG 2.1 AAA compliant (WIP)</li>
</ul>
<h2>Words</h2>
<p>Various <a routerLink="/posts" routerLinkActive="active">posts</a> about work I've done or am exploring.</p>
<ul>
  <li><a routerLink="/web-components" routerLinkActive="active">A post regarding the current (2021-Feb) state of Web Components, support for them both in terms of browser support and tooling support, and their readiness for use in business applications.</a></li>
</ul>
