:root {
  --size-mine: 40px;
  --size-icon: calc(var(--size-mine) - 12px);
}

/* All of the HTML elements used on this site. TODO: Keep up to date! */
html, body, div, span, p, a, button, i, em, strong, section, main, header,
footer, small, ul, li, h1, h2, h3, nav, img, dialog, form, fieldset, legend,
label, input {
  box-sizing: border-box;
}

html {
  height: 100vh;
  max-height: 100vh;
  overflow-y: scroll;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

