:root {
  --size-mine: 40px;
  --size-icon: calc(var(--size-mine) - 12px);
}

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  max-height: 100vh;
  overflow-y: scroll;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
